.navbar {
  position: fixed;
  font-size: 16px;
  font-weight: bold;
  background-color: #89b16b;
  display: inline-block;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-nav .nav-item:hover .nav-link {
  color: white;
  padding-bottom: 0px;
  border-bottom: 3px solid black;
}

#landingpage_bg {
  background-color: #89b16b73;
}

#landingpage_lakbay {
  text-align: center;
  margin-top: 80px;
  padding: 40px;
}

#landingpage_lakbaybtn {
  background-color: #89b16b;
  text-align: center;
  color: black;
  font-family: Helvetica, sans-serif;
  border-color: transparent;
  padding: 5px 100px;
}

#landingpage_footer {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  padding: 0px;
}

